# Kubernetes Cert
cert:
  # 签发集群整数保存目录，默认签发10年有限期证书
  dir: /opt/certs/pro
  # 签发证书大小
  size: 2048

# Etcd
etcd:
  # etcd 版本
  version: 3.4.13
  # etcd 数据目录
  data_dir: "/var/lib/etcd"

# High Availability
# kube-apiserver负载均衡的信息
# 如使用haproxy + keepalived请填写VIP及端口
# 如使用公有云负载均衡请填写负载均衡IP及端口（需再安装之前自行配置）
# 如使用域名，需提前配置解析。不使用域名时，请注释掉
# 如使用haproxy + keepalived ，并且跟master节点部署在一起时，请修改port以避免端口冲突
loadbalance:
  ip: 172.16.90.200
  port: 6443
  #domain_name: apiserver.k8sre.com

# Kubernetes
kubernetes:
  # kubernetes 版本
  version: v1.21.0
  # 集群Pod网段
  podSubnet: 10.64.0.0/12
  # 集群Service网段
  serviceSubnet: 10.80.0.0/16
  # kubelet 数据目录
  kubelet_dir: "/var/lib/kubelet"
  # cni-plugins: https://github.com/containernetworking/plugins
  cni_plugins_version: v0.8.7

# Containerd
critools:
  version: v1.21.0
containerd:
  # containerd 版本
  version: 1.4.4
  # containerd 持久化数据目录
  root: "/var/lib/containerd"
  # containerd 临时数据目录
  state: "/run/containerd"
  grpc:
    max_recv_message_size: 16777216
    max_send_message_size: 16777216
  debug:
    level: ""
  metrics:
    address: ""
    grpc_histogram: false
  cri:
    sandbox_image: "registry.aliyuncs.com/google_containers/pause:3.3"
    max_container_log_line_size: -1
  containerd:
    snapshotter: overlayfs
  options:
    SystemdCgroup: true
  registries:
    "docker.io": "https://registry-1.docker.io"
    "k8s.gcr.io": "https://registry.aliyuncs.com/k8sxio"

# Network Plugin
network_plugin: calico
calico:
  version: v3.19.0
  network_mode: ipip
flannel:
  version: v0.13.0
  network_mode: vxlan
# cilium need linux kernel >= 4.9.17
cilium:
  version: v1.9.6

# Addons
dns:
  coredns_version: 1.8.0
  enable_nodelocaldns: false
  nodelocaldns_version: 1.17.0
  nodelocaldns_ip: 169.254.20.10
metrics_server:
  version: v0.4.1
