apiVersion: v1
kind: Config
{% if kubernetes.ipv4_stack and kubernetes.ipv6_stack %}
clusterCIDR: {{ kubernetes.pods_subnet }},{{ kubernetes.pods_subnet_ipv6 }}
{% elif kubernetes.ipv4_stack %}
clusterCIDR: {{ kubernetes.pods_subnet }}
{% else %}
clusterCIDR: {{ kubernetes.pods_subnet_ipv6 }}
{% endif %}
clusters:
- name: cluster
  cluster:
    certificate-authority: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
{% if kubernetes.ipv4_stack and kubernetes.ipv6_stack %}
    server: https://{% if 'domain_name' in loadbalance %}{{ loadbalance.domain_name }}:{{loadbalance.port}}{% else %}{{ loadbalance.ip }}:{{loadbalance.port}}{% endif %}
{% elif kubernetes.ipv4_stack %}
    server: https://{% if 'domain_name' in loadbalance %}{{ loadbalance.domain_name }}:{{loadbalance.port}}{% else %}{{ loadbalance.ip }}:{{loadbalance.port}}{% endif %}
{% else %}
    server: https://{% if 'domain_name' in loadbalance %}{{ loadbalance.domain_name }}:{{loadbalance.port}}{% else %}[{{ loadbalance.ip }}]:{{loadbalance.port}}{% endif %}
{% endif %}
users:
- name: kube-router
  user:
    tokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
contexts:
- context:
    cluster: cluster
    user: kube-router
  name: kube-router-context
current-context: kube-router-context