apiVersion: v1
kind: Config
clusterCIDR: {{ kubernetes.podSubnet }}
clusters:
- name: cluster
  cluster:
    certificate-authority: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
    server: https://{% if 'domain_name' in loadbalance %}{{ loadbalance.domain_name }}{% else %}{{ loadbalance.ip }}{% endif %}:{{loadbalance.port}}
users:
- name: kube-router
  user:
    tokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
contexts:
- context:
    cluster: cluster
    user: kube-router
  name: kube-router-context
current-context: kube-router-context