---
- name: "Create download directory"
  file:
    path: "{{ download.dest }}/{{ item }}/{{ download.arch }}"
    state: directory
  with_items:
    - etcd/{{ etcd.version }}
    - kubernetes/{{ kubernetes.version }}
    - runc/{{ runc.version }}
    - cniplugins/{{ cniplugins.version }}
    - critools/{{ critools.version }}
    - containerd/v{{ containerd.version }}
    - calico/{{ calico.version }}
  tags: download_dir

- name: "Download etcd"
  get_url:
    url: "{{ etcd.download_url }}/{{ etcd.version }}/etcd-{{ etcd.version }}-linux-{{ download.arch }}.tar.gz"
    dest: "{{ download.dest }}/etcd/{{ etcd.version }}/{{ download.arch }}"
    timeout: "{{ download.timeout }}"
  register: get_url_result
  until: "'OK' in get_url_result.msg or
      'file already exists' in get_url_result.msg or
      get_url_result.status_code | default() == 304"
  retries: "{{ download.retries }}"
  delay: "{{ download.retry_stagger | default(5) }}"
  tags: download_etcd

- name: "Download kubernetes"
  get_url:
    url: "{{ kubernetes.download_url }}/{{ kubernetes.version }}/{{ item }}-{{ download.arch }}"
    dest: "{{ download.dest }}/kubernetes/{{ kubernetes.version }}/{{ download.arch }}"
    timeout: "{{ download.timeout }}"
  with_items:
    - kube-apiserver
    - kube-controller-manager
    - kube-scheduler
    - kubelet
    - kube-proxy
    - kubectl
  register: get_url_result
  until: "'OK' in get_url_result.msg or
      'file already exists' in get_url_result.msg or
      get_url_result.status_code | default() == 304"
  retries: "{{ download.retries }}"
  delay: "{{ download.retry_stagger | default(5) }}"
  tags: download_kubernetes

- name: "Download runc"
  get_url:
    url: "{{ runc.download_url }}/{{ runc.version }}/runc.{{ download.arch }}"
    dest: "{{ download.dest }}/runc/{{ runc.version }}/{{ download.arch }}"
    timeout: "{{ download.timeout }}"
  register: get_url_result
  until: "'OK' in get_url_result.msg or
      'file already exists' in get_url_result.msg or
      get_url_result.status_code | default() == 304"
  retries: "{{ download.retries }}"
  delay: "{{ download.retry_stagger | default(5) }}"
  tags: download_runc

- name: "Download cniplugins"
  get_url:
    url: "{{ cniplugins.download_url }}/{{ cniplugins.version }}/cni-plugins-linux-{{ download.arch }}-{{ cniplugins.version }}.tgz"
    dest: "{{ download.dest }}/cniplugins/{{ cniplugins.version }}/{{ download.arch }}"
    timeout: "{{ download.timeout }}"
  register: get_url_result
  until: "'OK' in get_url_result.msg or
      'file already exists' in get_url_result.msg or
      get_url_result.status_code | default() == 304"
  retries: "{{ download.retries }}"
  delay: "{{ download.retry_stagger | default(5) }}"
  tags: download_cniplugins

- name: "Download critools"
  get_url:
    url: "{{ critools.download_url }}/{{ critools.version }}/crictl-{{ critools.version }}-linux-{{ download.arch }}.tar.gz"
    dest: "{{ download.dest }}/critools/{{ critools.version }}/{{ download.arch }}"
    timeout: "{{ download.timeout }}"
  register: get_url_result
  until: "'OK' in get_url_result.msg or
      'file already exists' in get_url_result.msg or
      get_url_result.status_code | default() == 304"
  retries: "{{ download.retries }}"
  delay: "{{ download.retry_stagger | default(5) }}"
  tags: download_critools

- name: "Download containerd"
  get_url:
    url: "{{ containerd.download_url }}/v{{ containerd.version }}/containerd-{{ containerd.version }}-linux-{{ download.arch }}.tar.gz"
    dest: "{{ download.dest }}/containerd/v{{ containerd.version }}/{{ download.arch }}"
    timeout: "{{ download.timeout }}"
  register: get_url_result
  until: "'OK' in get_url_result.msg or
      'file already exists' in get_url_result.msg or
      get_url_result.status_code | default() == 304"
  retries: "{{ download.retries }}"
  delay: "{{ download.retry_stagger | default(5) }}"
  tags: download_containerd

- name: "Download calicoctl"
  get_url:
    url: "{{ calico.download_url }}/{{ calico.version }}/calicoctl-linux-{{ download.arch }}"
    dest: "{{ download.dest }}/calico/{{ calico.version }}/{{ download.arch }}"
    timeout: "{{ download.timeout }}"
  register: get_url_result
  until: "'OK' in get_url_result.msg or
      'file already exists' in get_url_result.msg or
      get_url_result.status_code | default() == 304"
  retries: "{{ download.retries }}"
  delay: "{{ download.retry_stagger | default(5) }}"
  tags: download_calicoctl
