global
    daemon
    maxconn                 50000
    log                     /dev/log local0 info
    chroot                  /var/lib/haproxy
    user                    haproxy
    group                   haproxy
    stats                   socket /var/lib/haproxy/stats

defaults
    mode tcp
    timeout connect 5s
    timeout client  10m
    timeout server  10m

{% if haproxy_version is defined %}
{% if haproxy_version is version('2.0', '>=') %}
frontend stats
    bind *:9101
    mode http
    http-request use-service prometheus-exporter if { path /metrics }
    stats enable
    stats uri /
    stats refresh 10s
{% endif %}
{% endif %}

listen kube-apiservers
    {% if kubernetes.ipv4_stack -%}
    bind *:{{loadbalance.port}}
    {% endif -%}
    {% if kubernetes.ipv6_stack -%}
    bind :::{{loadbalance.port}}
    {% endif -%}
    balance roundrobin
    default-server inter 5s rise 2 fall 3
{% for host in groups['master'] %}
    server {{hostvars[host].hostname}} {{host}}:6443 check
{% endfor %}
