- name: restart sshd
  systemd:
    name: sshd
    state: restarted
    enabled: yes
    masked: false
- name: restart chrony
  systemd:
    name: chronyd
    state: restarted
    enabled: yes
    masked: false
- name: restart systemd-timesyncd
  systemd:
    name: systemd-timesyncd
    state: restarted
    enabled: yes
    masked: false
- name: restart systemd-journald
  systemd:
    name: systemd-journald
    state: restarted
    enabled: yes
    masked: false