kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
address: "{{ ansible_default_ipv4.address }}"
cgroupDriver: systemd
authentication:
  anonymous:
    enabled: false
  webhook:
    enabled: true
  x509:
    clientCAFile: "/etc/kubernetes/pki/ca.pem"
authorization:
  mode: Webhook
readOnlyPort: 0
serverTLSBootstrap: true
rotateCertificates: true
enableDebuggingHandlers: true
enableContentionProfiling: true
clusterDomain: "cluster.local"
clusterDNS:
  - "{{ cluster_dns }}"
cgroupsPerQOS: true
hairpinMode: promiscuous-bridge
serializeImagePulls: false
enableControllerAttachDetach: true
