apiVersion: v1
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/ssl/ca.pem
    server: https://{{ apiserver_domain_name }}:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubelet
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: kubelet
  user:
    client-certificate: /etc/kubernetes/ssl/kubelet_{{ ansible_default_ipv4.address }}.pem
    client-key: /etc/kubernetes/ssl/kubelet_{{ ansible_default_ipv4.address }}.key
