KUBELET_ARGS="\
    --hostname-override={{ ansible_default_ipv4.address }} \
    --config={{ kube_dir }}/kubeletconfig.yaml \
    --cgroup-driver=systemd \
    --authentication-token-webhook=true \
    --authorization-mode=Webhook \
    --anonymous-auth=false \
    --pod-infra-container-image={{ harbor_url }}/google-containers/{{ pause_image }} \
    --cluster-dns={{ cluster_dns }} \
    --bootstrap-kubeconfig={{ kube_dir }}/bootstrap.kubeconfig \
    --kubeconfig={{ kube_dir }}/kubelet.kubeconfig  \
    --feature-gates=RotateKubeletClientCertificate=true,RotateKubeletServerCertificate=true \
    --client-ca-file={{ kube_dir }}/ssl/ca.pem \
    --cert-dir={{ kube_dir }}/ssl \
    --cluster-domain=cluster.local \
    --hairpin-mode promiscuous-bridge \
    --root-dir={{ kube_data_dir }}/kubelet \
    --network-plugin=cni \
    --serialize-image-pulls=false \
    --rotate-certificates \
    --logtostderr=true \
    --v=4"