##open gpu 
##--feature-gates=DevicePlugins=true
KUBELET_ARGS="--cgroup-driver=systemd \
              --hostname-override={{ ansible_default_ipv4.address }} \
              --pod-infra-container-image={{ harbor_url }}/{{ pause_image }} \
              --cluster-dns={{ cluster_dns }} \
              --bootstrap-kubeconfig=/etc/kubernetes/bootstrap.kubeconfig \
              --kubeconfig=/etc/kubernetes/kubelet.kubeconfig  \
              --cert-dir=/etc/kubernetes/ssl \
              --cluster-domain=cluster.local \
              --hairpin-mode promiscuous-bridge \
              --root-dir={{ data_dir }}/data/kubelet \
              --network-plugin=cni \
              --serialize-image-pulls=false \
              --logtostderr=true \
              --allow-privileged=true \
              --v=4"
