apiVersion: v1
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/pki/ca.pem
{% if kubernetes.ipv4_stack and kubernetes.ipv6_stack %}
    server: https://{% if 'domain_name' in loadbalance %}{{ loadbalance.domain_name }}:{{loadbalance.port}}{% else %}{{ loadbalance.ip }}:{{loadbalance.port}}{% endif %}
{% elif kubernetes.ipv4_stack %}
    server: https://{% if 'domain_name' in loadbalance %}{{ loadbalance.domain_name }}:{{loadbalance.port}}{% else %}{{ loadbalance.ip }}:{{loadbalance.port}}{% endif %}
{% else %}
    server: https://{% if 'domain_name' in loadbalance %}{{ loadbalance.domain_name }}:{{loadbalance.port}}{% else %}[{{ loadbalance.ip }}]:{{loadbalance.port}}{% endif %}
{% endif %}

  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kube-proxy
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: kube-proxy
  user:
    client-certificate: /etc/kubernetes/pki/kube-proxy.pem
    client-key: /etc/kubernetes/pki/kube-proxy.key
