apiVersion: v1
clusters:
- cluster:
    certificate-authority: /etc/kubernetes/pki/ca.pem
    server: https://{% if ansible_default_ipv4.address in groups['master'] %}{{ ansible_default_ipv4.address }}:6443{% elif 'domain_name' in loadbalance %}{{loadbalance.domain_name}}:{{loadbalance.port}}{% else %}{{ loadbalance.ip }}:{{loadbalance.port}}{% endif %}

  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: kubernetes-admin
  name: kubernetes-{{token_id.stdout}}
current-context: kubernetes-{{token_id.stdout}}
kind: Config
preferences: {}
users:
- name: kubernetes-admin
  user:
    client-certificate: /etc/kubernetes/pki/admin.pem
    client-key: /etc/kubernetes/pki/admin.key
