apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ kube_dir }}/ssl/ca.pem
    server: https://{{ apiserver_domain_name }}:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: admin
  name: kubernetes
current-context: kubernetes
kind: Config
preferences: {}
users:
- name: admin
  user:
    client-certificate: {{ kube_dir }}/ssl/admin.pem
    client-key: {{ kube_dir }}/ssl/admin.key
