# The following values are used to configure the kubernetes controller-manager

# defaults from config and apiserver should be adequate

# Add your own!
KUBE_CONTROLLER_MANAGER_ARGS="\
    --master=https://{{ ansible_default_ipv4.address }}:6443 \
    --service-account-private-key-file=/etc/kubernetes/ssl/apiserver.key \
    --root-ca-file=/etc/kubernetes/ssl/ca.pem \
    --allocate-node-cidrs=true \
    --cluster-name=kubernetes \
    --cluster-signing-cert-file=/etc/kubernetes/ssl/apiserver.pem \
    --cluster-signing-key-file=/etc/kubernetes/ssl/apiserver.key \
    --leader-elect=true \
    --cluster-cidr={{ pod_cluster_cidr }} \
    --service-cluster-ip-range={{ service_cluster_ip_range }} \
    --secure-port=10253 \
    --node-monitor-period=2s \
    --node-monitor-grace-period=16s \
    --pod-eviction-timeout=30s \
    --kubeconfig=/etc/kubernetes/kubelet.kubeconfig"
