apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ kube_dir }}/ssl/ca.pem
    server: https://{{ apiserver_domain_name }}:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: system:kube-controller-manager
  name: system:kube-controller-manager
current-context: system:kube-controller-manager
kind: Config
preferences: {}
users:
- name: system:kube-controller-manager
  user:
    client-certificate: {{ kube_dir }}/ssl/kube-controller-manager.pem
    client-key: {{ kube_dir }}/ssl/kube-controller-manager.key
