KUBE_SCHEDULER_ARGS="\
    --bind-address=0.0.0.0 \
    --secure-port=10259 \
    --kubeconfig=/etc/kubernetes/scheduler.kubeconfig \
    --authorization-kubeconfig=/etc/kubernetes/scheduler.kubeconfig \
    --authentication-kubeconfig=/etc/kubernetes/scheduler.kubeconfig \
    --leader-elect=true \
    --v=2"