KUBE_SCHEDULER_ARGS="\
    --kubeconfig={{ kube_dir }}/kube-scheduler.kubeconfig \
    --authorization-kubeconfig={{ kube_dir }}/kube-scheduler.kubeconfig \
    --authentication-kubeconfig={{ kube_dir }}/kube-scheduler.kubeconfig \
    --leader-elect=true \
    --logtostderr=true \
    --v=5"